*{
    box-sizing: border-box
}
.mainWapper{
    display: grid;
    
}
.Wapper{
    display: grid;
    grid-template-columns: auto auto;
}
.wapper2{
  display: grid;
  grid-template-columns: auto auto auto; 
  align-items: center;
}
.wapper3{
    display: grid;
    grid-template-columns: auto auto;
}
.employeeForms{
    display: grid;
    background-color:#636363;
    margin: 60px auto;
    border: 1px solid black;
    width: 50%;
}
.empolyeeName{
    display: flex;
    justify-content: space-evenly;
}
.gender-Phone{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Button{
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
.buttonStyle{
    width: 87px;
    height: 28px;
    background-color: #C4D221;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    font-size: 20px;
}
.inputField{
    height: 28px;
    width: 87%;
    padding: 3px 14px;
    margin: 3px 12px;
    border-radius: 2px 2px 2px 2px;
    border: none;
}
label{
    color: #fff8f8;
    font-size: medium;
    margin-left: 13px;
}
table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
table {
    width: 100%;
    font: 17px Roboto;
}
td:hover{
     background-color: #4883FF;
}
.tableButton{
    display:flex;
    justify-content:space-around;
}
.errorMsg {
    color: #cc0000;
    margin-left: 12px;
  }
  .radioButton{
      display: flex;
     
  }
  textarea{
    height: 76px;
    width: 92%;
    margin: 3px 12px;
  }
  .checkBox{
    display: flex;
    padding-left: 12px;
    align-items: center;
  }
  span{
      color: white;
  }
  .imageUpload{
    padding-left: 23px;
    padding-top: 13px;
  }
  .inputFile{
    width: 42%;
    opacity: 0;
   z-index: 1;
  }
  .required{
      color: red;
  }
  img{
    height: 69px;
    width: 43%;
    border-radius: 5px;
  }
  .imageContainer{
    justify-content: center;
    display: grid;
    height: 100%;
  }
  .uploadImage{
      width: 5%;
      position: absolute;
  }