@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    box-sizing:  border-box;
    font-family: 'Roboto'
}
.mainWapper{
    display: grid;
    
}
.formWapper{
    display:grid;
    
}
.Wapper{
    grid-template-columns: 33% 33% 33%;
    /* width: 400px; */
    display: grid;
    align-items: center
}
.wapper2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 49px;
  

}
.wapper3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
   
}
.employeeForms{
    width: 100%;
    height: 142%;
}
.viewImage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 66%;
}
.radioButton{
    width:100%;
    display: grid
}
.radioButton span{
  margin-left: 13px;
}
.Button{
    width: 97%;
    display: flex;
    justify-content: flex-end;
}
.buttonStyle{
    width: 87px;
    height: 28px;
    background-color: #C4D221;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
    font-size: 20px;
}
.inputField{
    height: 36px;
    width: 91%;
    background-color: lightgray;
    padding: 3px 14px;
    margin: 3px 12px;
    border: none;
    border-radius: 7px;
}
label{

    font-size: medium;
    margin-left: 13px;
     display: flex;
    align-items: flex-end;
}
table, th, td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    width: 1%;
}
table {
    width: 100%;
    font: 17px Roboto;
}
tr:hover td{
    background-color: #4883FF;
}
td:hover .tableButton {
   
    visibility: visible;
}


.errorMsg {
    color: #cc0000;
    margin-left: 12px;
    height: 15px;
  }
  textarea{
    height: 88px;
    width: 91%;
    padding: 3px 14px;
    margin: 3px 12px;
    border: none;
    border-radius: 5px;
    background: lightgray;
  }
  .checkBox{
    display: flex;
    padding-left: 11px;
    align-items: center;
  }
  span{
      color: black;
  }
  .inputFile{
    width: 42%;
    opacity: 0;
   z-index: 1;
  }
  .required{
      color: red;
  }
  .imagePreview{
   
    width: 71%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    height: 192px;
  }

  .imageContainer{
    display: flex;
    height: 50%;
  }
  .uploadImage{
      width: 5%;
      position: absolute;
  }
  .uploadButton{
    position: relative;
    left: -86px;
    z-index: -1;
    height: 34px;
    background: white;
    border: 2px solid #15c3cc;
    color: lightskyblue;
    font-size: 21px;
    border-radius: 5px;
  }
  
  select{
    width: 91%;
    height: 32px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 12px;
  }
  .tableProfile{
    width: 87%;
  }
  .tableButton{
      visibility: hidden
  }